.purple {
  background-color: #946bd6;
}

.pink {
  background-color: #ee6b9c;
}

.green {
  background-color: #b3f36d;
}

.yellow {
  background-color: #ffef73;
}

.blue {
  background-color: #64abd0;
}

.orange {
  background-color: #ffbf73;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

.section {
  height: 100vh;
}
.section.with-footer {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.sub-section-container {
  display: flex;
  flex-direction: row;
}
.sub-section-container.full-height {
  height: 100%;
}
.sub-section-container .sub-section {
  width: 50%;
  height: 100%;
}

.foot-line {
  height: 80px;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: stretch;
}
.links-container .link {
  height: 100%;
  border: thin solid white;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}
.links-container .link:hover {
  color: #c0c0c0;
}

.landing-info-container {
  height: 100%;
  padding: 33px;
  position: relative;
}
.landing-info-container p {
  width: 450px;
  font-size: 20px;
}
.landing-info-container h3 {
  font-weight: lighter;
  font-size: 36px;
}
.landing-info-container h1 {
  font-size: 80px;
  font-family: "Expletus Sans", cursive;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.landing-info-container img {
  position: absolute;
  right: 33px;
  bottom: 33px;
  height: 70%;
}

.sub-section-header {
  font-size: 60px;
  font-family: "Expletus Sans", cursive;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.about-project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-project-container .about-project-content {
  padding-left: 33px;
  padding-right: 25px;
}
.about-project-container .about-project-content img {
  height: 60vh;
  border: thin solid black;
  float: left;
  margin-right: 30px;
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  color: #BF9D00;
}
.footer .footer-item {
  width: 33%;
  text-align: center;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.footer .footer-item.left {
  margin-left: 33px;
}
.footer .footer-item.center {
  justify-content: center;
}
.footer .footer-item.right {
  justify-content: flex-end;
  margin-right: 33px;
}
.footer .footer-item.right img {
  height: 36px;
  width: 36px;
  margin-left: 30px;
}

canvas {
  border: 3px solid black;
}
canvas#fractalCanvas {
  background-color: white;
}

.fg-container {
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
}
.fg-container .forms-container {
  margin-right: 20px;
  color: #000;
}
.fg-container .forms-container div {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-bottom: 5px;
}

.pg-container {
  padding-left: 30px;
  display: flex;
}
.pg-container .form-container {
  margin-left: 20px;
}
.pg-container .form-container > div {
  width: 250px;
  margin: 15px 0;
}
.pg-container .form-container > div div {
  margin: 5px 0;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.space-around {
  justify-content: space-around;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.butt {
  width: 165px;
  height: 55px;
  border: 3px solid white;
  font-weight: bold;
  font-size: 22px;
  border-radius: 0;
  color: white;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}
.butt.dark-green {
  background-color: #4e9600;
}
.butt.dark-pink {
  background-color: #992667;
}
.butt.dark-orange {
  background-color: #bf7e30;
}

.form {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}
.form input {
  height: 40px;
  width: 356px;
}
.form textarea {
  height: 210px;
}
.form input, .form textarea {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid white;
}
.form .send-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

form.hidden {
  display: none;
}

input, select {
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid white;
  font-size: 18px;
  border-radius: 0;
}

input {
  width: 45px;
  height: 20px;
}

select {
  margin: 2px 0;
}

button {
  border: thin solid black;
  border-radius: 0;
  height: 30px;
  font-size: 18px;
  background-color: white;
}

/*# sourceMappingURL=styles.css.map */
