.purple {
    background-color: $purple
}
.pink {
    background-color: $pink
}
.green {
    background-color: $green
}
.yellow {
    background-color: $yellow
}
.blue {
    background-color: $blue
}
.orange {
    background-color: $orange
}
.font-white {
    color: white
}