$purple: rgb(148, 107, 214);
$pink: rgb(238, 107, 156);
$green: rgb(179, 243, 109);
$yellow: rgb(255, 239, 115);
$blue: rgb(100, 171, 208);
$orange: rgb(255, 191, 115);
$dark-green: rgb(78, 150, 0);
$dark-pink: rgb(153, 38, 103);
$dark-orange: rgb(191, 126, 48);
