@import "variables.scss";
@import "helpers";

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.section {
    &.with-footer {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    height: 100vh;
}

.sub-section-container {
    display: flex;
    flex-direction: row;
    &.full-height {
        height: 100%;
    }

    .sub-section {
        width: 50%;
        height: 100%;
    }
}

.foot-line {
    height: 80px;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: stretch;
    .link {
        height: 100%;
        border: thin solid white;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: inherit;
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        &:hover{
            color: #c0c0c0;
        }
    }
}

.landing-info-container {
    height: 100%;
    padding: 33px;
    position: relative;

    p {
        width: 450px;
        font-size: 20px;
    }

    h3 {
        font-weight: lighter;
        font-size: 36px;

    }

    h1 {
        font-size: 80px;
        font-family: 'Expletus Sans', cursive;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

    img {
        position: absolute;
        right: 33px;
        bottom: 33px;
        height: 70%;
    }
}

.sub-section-header {
    font-size: 60px;
    font-family: 'Expletus Sans', cursive;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.about-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .about-project-content {
        padding-left: 33px;
        padding-right: 25px;

        img {
            width: 240px;
            border: thin solid black;
            float: left;
            margin-right: 30px;
        }
    }
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    color: #BF9D00;
    .footer-item {
        width: 33%;
        text-align: center;
        font-size: 22px;
        display: flex;
        align-items: center;
        &.left {
            margin-left: 33px;
        }
        &.center {
            justify-content: center;
        }
        &.right {
            justify-content: flex-end;
            margin-right: 33px;
            img {
                height: 36px;
                width: 36px;
                margin-left: 30px;
            }
        }
    }
}

canvas {
    border: 3px solid black;
}

.fg-container {
    padding-right: 30px;
    display: flex;
    justify-content: space-between;  
}

.pg-container {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.space-around {
    justify-content: space-around;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.butt {
    width: 165px;
    height: 55px;
    border: 3px solid white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 0;
    color: white;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &.dark-green {
        background-color: $dark-green
    }
    &.dark-pink {
        background-color: $dark-pink
    }
    &.dark-orange {
        background-color: $dark-orange
    }
}